#!/bin/bash
# setting environment variables
ECR_REGISTRY={{ECR_REGISTRY}}
VERSION={{VERSION}}
export ECR_REGISTRY VERSION
# 1) ECR 로그인
aws ecr get-login-password --region ap-northeast-2 \
  | docker login --username AWS --password-stdin $ECR_REGISTRY

# 2) 이미지 pull
docker pull $ECR_REGISTRY/prod/9_meow_fe:$VERSION

# 3) 기존 컨테이너 중지·삭제
docker stop frontend || true
docker rm   frontend || true

# 4) 새 컨테이너 실행
docker run -d --name frontend --restart unless-stopped \
  -p 80:80 \
  $ECR_REGISTRY/prod/9_meow_fe:$VERSION